.h-nav{
    width: 100%;
    height: 1.4rem;
    background:linear-gradient(to right,#459CFF,#1246D6);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
}
 .h-nav li{
    width: 33%;
    font-size: 0.5rem;
    color: #fff;
}
 .h-nav li:first-child{
    padding-left: 0.2rem;
}
 .h-nav li:nth-child(2){
    text-align: center;
}
 .h-nav li:last-child{
    text-align: right;
    padding-right: 0.2rem;
    position: relative;
}

 .h-nav li .drop:before{
    position: absolute;
    top: -0.4rem;
    right: 0.2rem;
    content: '';
    display: block;
    width:0;
    height: 0;
    /*width: 0.2rem;
    height: 0.2rem;*/
    border-width: 0.2rem;
    border-style: solid;
    border-color:transparent transparent #fff transparent;
}
 .h-nav li .drop{
    position: absolute;
    right: 0.1rem;
    top: 0.8rem;
    width: 4rem;
    border-radius: 0.1rem;
    background: #fff;
    border: 1px solid #E2E2E2;
    display: none;
    z-index: 100;
}
 .h-nav li .drop ol li{
    font-size: 0.39rem;
    color: #606060;
    text-align: center;
    width: 100%;
    padding: 0.3rem 0;
    border-bottom: 1px solid #F4F4F4;
}
.h-nav li .drop ol li a{
    color: #606060;
}
.h-nav li .drop ol li .iconfont{
    color: #4499FD;
}
.h-nav li .slide{
    width: 0.5rem;
    min-width: 0.5rem;
    vertical-align: middle;
}
/*fieldset{*/
    /*border-right: 0.3rem solid #FCD518;*/
/*}*/
.cir{
    position: absolute;
    width:2rem;
    height: 4.3rem;
    left: 1rem;
    /*border-radius: 50%;*/
    border-left: 0.3rem solid #FCD518;
    /*border: 1px solid #000;*/

}
.cle{
    position: absolute;
    right: 1rem;
    width: 2rem;
    height: 4.3rem;
    /*border-radius: 50%;*/
    border-right: 0.3rem solid #FCD518;
    /*border: 1px solid #000;*/
}


.head{
    width: 100%;
    height: 1.4rem;
    /*background:linear-gradient(to right,#459CFF,#1246D6);*/
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
}
.head p{
color: #fff;
    font-size: 0.5rem;
    width: 33%;
}
.head p:nth-child(2){
    text-align: center;
}.head p:last-child{
    text-align: right;
 }

.head p img{
    width: 0.5rem;
    min-width: 0.5rem;
    margin-right: 0.3rem;
}
section{
width: 100%;
    position: relative;

}
section .percent{
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translateX(-50%) ;
    width: 6rem;
    height: 6rem;
    background: linear-gradient(45deg,#fff,#F5F5F5);
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
section .percent .ring{
    display: flex;
    justify-content: center;
    align-items: center;
    /*display: inline-block;*/
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
/*text-align: center;*/
    /*vertical-align: middle;*/
    border: 0.3rem solid #F0F0F0;
}
/*section .percent .ring p{*/
   /*!* display: inline-block;*/
    /*vertical-align: middle;*!*/
    /*font-size: 2rem;*/
    /*width: 1rem;*/
    /*color: #FFB300;*/

/*}*/
section .percent .ring .long{
    font-size: 1.8rem;
    color: #FFB300;
}
section .percent .ring p{
    width: 5rem;
    font-size: 0.4rem;
}
section .percent .ring span{
    font-size: 0.5rem;
    color: #FFB300;
}
section .slider{
    /*height: 3.3rem;*/
    margin-bottom: 0.7rem;
}
section .slider li img{
    width: 1.8rem;
    min-width: 1.8rem;
}
section img{
    width: 100%;
    min-width: 100%;
}
section .slider li .sup{
    position: relative;
}
section .slider li .cou{
    display: block;
    width: 0.4rem;
    height: 0.4rem;
    line-height: 0.4rem;
   /* width: 10px;
    height:10px;
    line-height: 10px;*/
    position: absolute;
    top:0.1rem ;
    right: 0.45rem;
    border-radius: 50%;
    background: #f00;
    color: #fff;
    text-align: center;
    font-size: 0.25rem;
    /*font-size: 10px;*/
}

ul{
  display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    width: 25%;
    font-size: 0.35rem;
    text-align: center;
    padding: 0.1rem 0;
}
/*底部导航*/
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height:1.5rem ;
    background: #F2F3F7;
    border-top: 1px solid #E7E7E7;
    border-bottom: 1px solid #E7E7E7;
}
footer .nav li p{
    font-size: 0.7rem;
    color:#666 ;
}
.ac{
    color: #2C80EC !important;
}
footer .nav li a{
    color:#666 ;
}
fieldset{
    position: absolute;
    width: 4rem;
    border: none !important;
    /*border: 1px solid #000;*/
    /*width: 2rem;*/
    color: #7B7B7B;
}

/*
.circleChart{
    width: 3rem;
    height: 3rem;
    background: red;
}*/
.circleChart_canvas{
    width: 5rem;
    height: 5rem;
}
section fieldset .long{
    font-size: 1.8rem;
    color: #FFB300;
}
section fieldset p{
    width: 5rem;
    font-size: 0.4rem;
}
section fieldset span{
    font-size: 0.5rem;
    color: #FFB300;
}
