section{
    width: 100%;
    background: #F5F5F5;
    font-size: 0.31rem;
}
html{
    background: #F5F5F5;
    font-size: 0.31rem;
}
.deal{
color: #999;
    /*background: #fff;*/
    margin: 0.3rem 0;

}
.deal .tim{
    background: #fff;
    border-bottom: 1px solid #ECEFF0;
    padding: 0.2rem;
}
.deal .right{
    display: inline-block;
    vertical-align: middle;
    width: 4.5rem;
    text-align: right;
}
.deal .left{
    display: inline-block;
    vertical-align: middle;
    width: 4.5rem;

}
.deal .num{
    padding: 0.2rem ;
    background: #fff;
}
.deal .num span{
    display: inline-block;
    vertical-align: middle;
    width: 32%;
    text-align: center;
    padding: 0.2rem 0;

}
.deal .num .ber span{
    font-weight: bold;
    font-size: 0.5rem;color: #333;

}
.red{
    color: #F64747 !important;
}
.blue{
    color: #2F77EC !important;
}
.dai{
    background: #F9FAFB;
    padding: 0.5rem 0;
}
.dai span{
    padding: 0 0 0 0.2rem ;
}
.dai .layui-btn{
    color: #2F77EC;
    border:1px solid #2F77EC ;
   height: 30px ;
    line-height: 30px;
    width: 100px;
}